* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}

html {
  font-size: 95%;
}

section {
  padding: 3rem 10%;
}

h2 {
  font-size: 3.5rem;
  margin-bottom: 3rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);

  @media (max-width: 450px) {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
}

:root {
  --main-color: #8a44ad;
  --black: #222;
  --white: #fff;
  --light-black: #777;
  --light-white: #fff9;
  --dark-bg: rgba(0, 0, 0, 0.7);
  --light-bg: #eee;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.3);
}

.swiper-slide-active {
  & .content {
    display: inline-block !important;
  }
}

.btn {
  display: inline-block;
  color: var(--white);
  background-color: var(--black);
  cursor: pointer;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  transition: 0.3s;
  font-size: 1.2rem;

  &:hover {
    background-color: var(--main-color);
  }
}

@keyframes fadeIn {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
}

@media (max-width: 1200px) {
  section {
    padding: 3rem 5%;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 70%;
  }

  section {
    padding: 2rem 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 60%;
  }
}
