.services {

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1rem;
    text-align: center;
  }

  &__box {
    padding: 1.5rem 2rem;
    background-color: var(--main-color);
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      transform: scale(1.05);
      background-color: var(--black);
    }

    & img {
      max-width: 6rem;
    }

    & h4 {
      color: var(--white);
    }
  }
}
